<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Data</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Tell me more about Mars!</a></p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3> Latest Mars News: </h3>
        <h4 class="heading">{{all_of_mars.news_title}}</h4> 
        <h5 class="heading">{{all_of_mars.news_paragraph}}</h5>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8">
          <h3>Featured Mars Image:</h3>
          <img src="{{ all_of_mars.featured_image_url }}", alt="Mars Featured Image" class="img-responsive">
        </div>
        <div class="col-md-4">
            <h5> Mars Weather </h5>
            <h6 class="heading">{{all_of_mars.weather}}</h6>
            <h7> Mars Facts: </h7>
            <p> {{all_of_mars.facts | safe }} </p>

        </div> 
    </div>     
    <div class="row">  
      <h2><center> Mars Hemispheres: </h2></center>
      <div class="row">
        <div class="col-md-6">
          {% for hemisphere in all_of_mars["images"] %}
           <img src="{{ hemisphere['URL'] }}" alt="..." class="center"> 
           <center><h3>{{ hemisphere_image_urls }}</h3></center> 
          {% endfor %}

    </div>
    
    </div>

  </div>
</body>

</html>

